:root {
  --vbp-header-height: 4rem;
  --vbp-header-border-size: 1px;
}

.header {
  height: var(--vbp-header-height);

  display: flex;
  justify-content: space-between;

  border-bottom: var(--vbp-header-border-size) solid
    var(--mantine-primary-color-filled);
}

.logo {
  margin: var(--mantine-spacing-xs);
  height: calc(var(--vbp-header-height) - (2 * var(--mantine-spacing-xs)));
}

.logoLink {
  color: var(--mantine-primary-color-filled);
  display: flex;
  align-items: center;
  transition: color 200ms;
  text-decoration: none;
  font-size: var(--mantine-font-size-xs);

  &:hover {
    color: var(--mantine-color-vbp-secondary-6);
  }
}

.title {
  margin-right: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-lg) {
    display: none;
  }
}

.navItems {
  margin-right: auto;
}

.menuLink {
  height: calc(var(--vbp-header-height) - var(--vbp-header-border-size));
  padding: var(--mantine-spacing-xs);

  display: flex;
  align-items: center;

  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);

  transition:
    color 300ms,
    text-decoration-color 300ms;

  &:hover {
    background-color: var(--mantine-color-default-hover);
    text-decoration-color: var(--mantine-primary-color-filled);
  }
}

.iconLink {
  aspect-ratio: 0.8;
  display: flex;
  justify-content: center;
}

.caret {
  margin-left: 0.2em;
}

.dropDown {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;

  padding: 0;
}

.menuDropDownItem {
  border-radius: 0;
}

.menuDropDownLink {
  color: var(--mantine-color-text);
  text-decoration: none;
}

.menuDropDownIcon {
  margin-right: 0.5em;
}

.LanguageDropDown {
  left: unset !important;
  right: 0;
}

.LanguageDropDownTarget {
  color: var(--mantine-primary-color-filled);

  &:hover {
    color: var(--mantine-color-vbp-secondary-6);
  }
}

.searchInputWrapper {
  max-width: 200px;

  transition: max-width 300ms;
  overflow: hidden;
}

.searchInputButton {
  background-color: var(--mantine-color-background);
  border: 0;
}

.searchInputButtonActive {
  color: var(--mantine-color-vbp-secondary-6);
}

.hidden {
  max-width: 0px !important;
}

.loggedOut {
  color: var(--mantine-color-gray-5);
}
