.footer {
  width: 100%;
  position: relative;

  padding: 1em;
  border-top: 1px solid var(--mantine-primary-color-filled);
  margin-top: 1em;

  a {
    color: black;
  }
}

.logo {
  height: 100px;
}

.vlaanderenLogo {
  height: 100px;
}

.center {
  margin: 0 1em;
}

.title {
  margin-bottom: 1em;

  h1 {
    font-size: 1.2rem;
    margin: 0;
  }
}

.subTitle {
  span {
    margin-right: 0.1em;
  }
}

.links {
}

.language {
}
