.footer {
  width: 100vw;
  position: relative;
  overflow-x: hidden;

  padding: 1em;
  border-top: 1px solid var(--mantine-primary-color-filled);
  margin-top: 1em;

  a {
    color: black;
  }
}

.logo {
  text-align: center;
}

.vlaanderenLogo {
  max-height: 100px;
  max-width: 100%;
  height: auto;
}

.center {
  margin: 0 1em;
}

.title {
  margin-bottom: 1em;

  h1 {
    font-size: 1.2rem;
    margin: 0;
  }
}

.subTitle {
  span {
    margin-right: 0.1em;
  }
}

.links {
}

.language {
}
